html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: $font-spacing;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $text;
  background: $background;
  font-family: $font-family;
}

a, a:visited {
  color: $primary;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

main {
  background: white;
}

section {
  width: 90%;
  margin: 0 auto;

  &.no-gutter {
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
  padding: 15px 0;
}

h1 { font-size: 200%; }
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

p {
  margin: 10px 0;
}

ul {
  width: 100%;

  li {
    margin-left: 20px;
  }
}

strong { font-weight: bold; }

blockquote {
  background: lighten($subtle-shade, 10%);
  width: 100%;
  padding: 5px;
  margin: 30px 0;
}

.flex {
  display: flex;
  width: 100%;
}

.flex.vertical {
  flex-direction: column;
  height: 100%;
}

.flex.vertical.vcentered {
  justify-content: center;
}

.flex.vertical.vcentered > * {
  flex-grow: 0;
}

.flex.no-gutters {
  justify-content: space-between;
}

.flex.no-gutters > * {
  margin: 0;
}

.flex > * {
  flex: 1;
  margin: 1%;
}

.flex > .wide {
  flex: 2;
}

figure img {
  max-width: 100%;
  max-height: 100%;
}

.center {
  text-align: center;
}

.padded {
  padding: 25px 0;
}

.vpadded {
  padding: 0 25px;
}

.leadin {
  font-size: 120%;
  padding: 25px 0;
}

.box {
  background: white;
  border-left: 4px solid darken($primary, 15%);
  padding: 25px;
  box-shadow: 0 .5em 1em rgba(0, 0, 0, .2);
  width: 50%;
  margin: 0 auto;
}

.primary-text {
  color: $primary;
}

.responsive {
  width: $breakpoint;
  margin: 0 auto;
}

@media (max-width: $breakpoint) {
  section {
    width: 98%;
    box-shadow: none;
    margin: 1%;

    &.no-gutter {
      width: 100%;
      margin: 0;
    }
  }

  .box {
    width: 90%;
  }

  .flex:not(.no-stack) { display: block; }
  .flex > * { margin: 1%; }

  .responsive {
    width: 90%;
  }
}
