form {
  input {
    border: 0px solid $primary;
    background: white;
    border-bottom-width: 2px;
    font-size: $font-size;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 28px;
  }

  .submitted-message {
    display: none;
  }

  &.submitted {
    input, textarea, button { display: none; }
    .submitted-message { display: block; }
  }

  &.submitting {
    * {
      opacity: 0.1;
      cursor: default;
    }

    background-image: url('/assets/loading.gif');
    background-position: center center;
    background-repeat: no-repeat;
  }
}
