---
---
@charset 'utf-8';

$font-family: 'Lato', sans-serif;
$font-size: 1em;
$font-weight: 300;
$font-spacing: 1.325;

$text: #383838;
$primary: #db5855;
$fade: #f7f7f7;
$subtle-shade: $fade;
$background: white;

$breakpoint: 768px;

@import 'base';
@import 'layout';
@import 'burger';
@import 'forms';
